<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,user-scalable=no">
	<title>Circular UI</title>
	<link rel="stylesheet" href="../lib/tau/wearable/theme/default/tau.min.css">
	<link rel="stylesheet" media="all and (-tizen-geometric-shape: circle)" href="../lib/tau/wearable/theme/default/tau.circle.min.css">
	<script src="../lib/jquery-3.1.1.min.js"></script>
	<!-- load theme file for your application -->
	<link rel="stylesheet" href="../css/style.css">
</head>
<body id="body">

</div>
</body>
<script src="../lib/tau/wearable/js/tau.min.js"></script>
<script src="../js/connections.js"></script>
</html>